<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .row{
        margin-top: 30px;
      }
      .small-box{
        border-radius: 10px;
      }
      #heading{
        margin: auto;
        font-size: 40px;
      }
      #righty{
        float: right;
      }
    </style>
    <title>Dashboard</title>
  </head>
  <body>

    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand linker-cust" id="heading" href="../">Dashboard</a>
      <% if(status == 'present'){%>
        <a class="navbar-brand linker-cust" id="righty" href="logout">logout</a>
      <%}%>
      
    </nav>
    <div class="container">
      <% if(status == 'absent'){%>
        <div class="row">
          <div class="col-md-6">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="images/signup.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Register</h5>
                <p class="card-text">For new Users.</p>
                <a href="users/signup" class="btn btn-primary">Sign up</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="images/login.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Login</h5>
                <p class="card-text">Only registered users can login.</p>
                <a href="users/login" class="btn btn-primary">Login</a>
              </div>
            </div>
          </div>
        </div>
      <%}%>
      
      <% if(status == 'present'){%>
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="images/add_data.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Add Data</h5>
                <p class="card-text">Add new data point.</p>
                <a href="dataForm" class="btn btn-primary">Add Data</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="images/map.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Show Map</h5>
                <p class="card-text">View your added data points.</p>
                <a href="map" class="btn btn-primary">View Map</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="images/alert.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Create Alert</h5>
                <p class="card-text">Create an alert!</p>
                <a href="create_alert" class="btn btn-primary">Create Alert</a>
              </div>
            </div>
          </div>
        </div>
      <%}%>
    </div>
    <script>
      
          
      
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html> 


