
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Login Page</title>
    <style>
      .container{
        margin-top: 30px;
      }
      #righty{
        position: fixed;
        right: 5px;
      }
    </style>
  </head>
  <body>
    <div id="nav">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand linker-cust" id="lefty" href="../">Dashboard</a>
          <a class="navbar-brand linker-cust" id="righty" href="signup">Signup</a>
      </nav>
    </div>
    <% if(signedup == 'passed') {%> 
      <li>You have been succesfully Signed Up, Please login</li>  
    <%}%> 
    <% if(loggedin == 'passed') {%> 
      <li>You have been succesfully LoggedIn</li>  
    <%}%> 
    <% if(loggedin == 'failed') {%> 
      <li>Login Unsuccessful</li>  
      <li>Error : <%=error%></li>  
    <%}%> 
    <div class="container">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Please Login...</h3>
        </div>
        <form class="form-horizontal" method="POST" action="login">
          <div class="card-body">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="username" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password" required>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-info">Log in</button>
          </div>
          <!-- /.card-footer -->
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>