<!-- <!doctype html>
<html lang="en">
  <head>
    
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
	<script src="https://www.chartjs.org/samples/latest/utils.js"></script>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <title>Display</title>
    <style>
      
      canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
      #righty{
        float:right;
      }
      #heading{
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 30px;
        padding:0%;
        border:0px;
      }
      #blank_page{
        margin-top: 25px;
      }
    </style>
  </head>
  
  <%  
    if(data.length){%>
      <body>
        
         
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand linker-cust" id="left" href="../">Dashboard</a>
          <a class="navbar-brand linker-cust" id="heading" href="#">Map</a>
          <a class="navbar-brand linker-cust" id="righty" href="/dataForm">Add Data</a>
        </nav>
    
        <div id="mapid" style="width: 100%; height: 100vh; position: relative;" class="leaflet-container leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag" tabindex="0"></div>
        
        <script>
         
         var mymap = L.map('mapid').setView([<%=data[0].latitude%>, <%=data[0].longitude%>], 13);
            
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
          maxZoom: 18,
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                        '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          id: 'mapbox/streets-v11',
          tileSize: 512,
          zoomOffset: -1,
          accessToken: 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw'
        }).addTo(mymap);
        
          
        
        var LeafIcon = L.Icon.extend({
            options: {
                iconSize:     [30, 30],
                iconAnchor:   [22, 94],
                popupAnchor:  [-3, -76]
            }
        });

        var fullIcon = new LeafIcon({iconUrl: 'images/full.jpg'}),
            mediumIcon = new LeafIcon({iconUrl: 'images/medium.jpg'}),
            emptyIcon = new LeafIcon({iconUrl: 'images/empty.jpg'});



         <%   
          var m;
          for(m = 0;m < data.length; m++){ %>

            var final_icon;


            if(<%=data[m].alert%> == true){
              if(<%=(data[m].level[0] <= data[m].low)%>){
                final_icon = emptyIcon;
              }
              if(<%=((data[m].level[0] > data[m].low) && (data[m].level[0] < data[m].high))%>){
                final_icon = mediumIcon;
              }
              if(<%=(data[m].level[0] >= data[m].high)%>){
                final_icon = fullIcon;
              }
              
            }
            else{
              final_icon = mediumIcon;
            }


            var marker = L.marker([<%=data[m].latitude%>, <%=data[m].longitude%>], {icon: final_icon}).addTo(mymap);
            marker.bindPopup(`
              <div class="container">
                <div class="row">
                  <ul>
                    <li><b>Latitude : </b><span id="lat`+ <%=data[m].latitude.toString()%>+<%=data[m].longitude.toString()%> +`"></span></li>
                    <li><b>Longitude : </b><span id="lng`+ <%=data[m].latitude.toString()%>+<%=data[m].longitude.toString()%> +`"></span></li>
                    <li><b>Level : </b><span id="level`+ <%=data[m].latitude.toString()%>+<%=data[m].longitude.toString()%> +`""></span></li>
                    <li><b>Temprature : </b><span id="temp`+ <%=data[m].latitude.toString()%>+<%=data[m].longitude.toString()%> +`""></span></li>
                  </ul>
                  <br>
                </div>
                <div class="row">
                  <div style="margin:auto;">
                    <select onchange="alter_graph()" id="select`+ <%=data[m].latitude.toString()%>+<%=data[m].longitude.toString()%> +`">
                      <option value="level" selected>Level</option>
                      <option value="temprature">Temprature</option>
                    </select>
                  </div>
                  <br>
                </div>
                <div class="row">
                  <canvas id="canvas`+ <%=data[m].latitude.toString()%>+<%=data[m].longitude.toString()%> +`"></canvas>
                </div>
              </div>
            `);
    
            function onMapClick(e) {
              
              fill_lat_lng(e.latlng.lat, e.latlng.lng)
            }
    
            marker.on('click', onMapClick);
          <%}%>
    

          var latitude = 0;
          var longitude = 0;
          var temprature = [];
          var level = [];
          
          function fill_lat_lng(lat, lng){
            <% 
              var n;
              for(n = 0; n<data.length; n++){%>
                if((lat == <%=data[n].latitude%>) && (lng == <%=data[n].longitude%>)){
                  latitude = <%=data[n].latitude%>;
                  longitude = <%=data[n].longitude%>;
                  document.getElementById("lat"+ <%=data[n].latitude.toString()%>+<%=data[n].longitude.toString()%>).innerHTML = <%=data[n].latitude%>;
                  document.getElementById("lng"+ <%=data[n].latitude.toString()%>+<%=data[n].longitude.toString()%>).innerHTML = <%=data[n].longitude%>;
                  document.getElementById("level"+ <%=data[n].latitude.toString()%>+<%=data[n].longitude.toString()%>).innerHTML = <%=data[n].level[0]%>;
                  document.getElementById("temp"+ <%=data[n].latitude.toString()%>+<%=data[n].longitude.toString()%>).innerHTML = <%=data[n].temprature[0]%>;
                 
                  temprature = [];
                  level = [];
                  <%
                    var p;
                    for(p=0; p<data[n].level.length; p++){
                      %>
                        level.push(<%=data[n].level[p]%>);
                        temprature.push(<%=data[n].temprature[p]%>);
                      <%
                    }
                  %>
                  graph(level);
                }  
              <%}
            %>
          }
    
          function graph(points){
            if(window.myLine)
              window.myLine.destroy();
            var y_label = [];
            var q;
            for(q=0;q<points.length;q++){
              y_label.push((q*4).toString());
            }
            var config = {
              type: 'line',
              data: {
                labels: y_label,
                datasets: [{
                  label: 'Track : ',
                  backgroundColor: window.chartColors.red,
                  borderColor: window.chartColors.red,
                  data: points,
                  fill: false,
                }]
              },
              options: {
                responsive: true,
                title: {
                  display: false,
                  text: 'Line Chart'
                },
                tooltips: {
                  mode: 'index',
                  intersect: false,
                },
                hover: {
                  mode: 'nearest',
                  intersect: true
                },
                scales: {
                  xAxes: [{
                    display: true,
                    scaleLabel: {
                      display: true,
                      labelString: 'Hours Ago'
                    }
                  }],
                  yAxes: [{
                    display: true,
                    scaleLabel: {
                      display: true,
                      labelString: 'Magnitude'
                    }
                  }]
                }
              }
            };
    
            var ctx = document.getElementById('canvas'+latitude.toString()+longitude.toString()).getContext('2d');
            window.myLine = new Chart(ctx, config);
    
          }

          function alter_graph(){
            var field = document.getElementById("select"+ latitude.toString()+longitude.toString()).value;
            if(field == 'level')
              graph(level);
            else
              graph(temprature);
          }
    
         </script>
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      </body>
  <%}
    else{%>
      
      <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand linker-cust" id="left" href="../">Dashboard</a>
          <a class="navbar-brand linker-cust" id="heading" href="#">Map</a>
          <a class="navbar-brand linker-cust" id="righty" href="/dataForm">Add Data</a>
        </nav>

        <div class="container" id="blank_page">
          <h3><p class="text-center">You have no data to be displayed</p></h3>
          <p class="text-center"><a href="./dataForm"><button class="btn-primary" >Add Data</button></a></p>
        </div>
      </body>

    <%}
  %>
  
</html> -->



<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
	  <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    
    <link rel="stylesheet" href="./stylesheets/leaflet-slider.css"/>
    <script src="./javascripts/leaflet-slider.js"></script>

    <title>Display</title>

    <style>
      canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
      #righty{
        float:right;
      }
      #heading{
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 30px;
        padding:0%;
        border:0px;
      }
      #blank_page{
        margin-top: 25px;
      }
    </style>

  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand linker-cust" id="left" href="../">Dashboard</a>
      <a class="navbar-brand linker-cust" id="heading" href="#">Map</a>
      <a class="navbar-brand linker-cust" id="righty" href="/dataForm">Add Data</a>
    </nav>

    <%  
      if(data.length){%>

        <div id="mapid" style="width: 100%; height: 100vh; position: relative;" class="leaflet-container leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag" tabindex="0"></div>
                  
          <script>
          
              var mymap = L.map('mapid').setView([<%=data[0].latitude%>, <%=data[0].longitude%>], 13);
              var LeafIcon = L.Icon.extend({
                  options: {
                      iconSize:     [30, 30],
                      iconAnchor:   [22, 94],
                      popupAnchor:  [-3, -76]
                  }
              });

              var fullIcon = new LeafIcon({iconUrl: 'images/full.jpg'}),
                  mediumIcon = new LeafIcon({iconUrl: 'images/medium.jpg'}),
                  emptyIcon = new LeafIcon({iconUrl: 'images/empty.jpg'});

              var latitude = 0;
              var longitude = 0;
              var temprature = [];
              var level = [];

              var markers = [];
              

              window.onload = function() {
                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                  maxZoom: 18,
                  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                  id: 'mapbox/streets-v11',
                  tileSize: 512,
                  zoomOffset: -1,
                  accessToken: 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw'
                }).addTo(mymap);
                
                slider = L.control.slider(function(value) {
                  make_markers(value);
                }, {
                  max: 100,
                  value: 100,
                  step:4,
                  size: '250px',
                  orientation:'vertical',
                  id: 'slider'
              }).addTo(mymap);

                
              };

              function make_markers(limit){
                if(markers.length){
                  var i;
                  for(i=0;i<markers.length;i++)
                      mymap.removeLayer(markers[i]);
                }
                markers = [];

                <%var m;
                for(m = 0;m < data.length; m++){%> 
                  if(<%=data[m].level[0]%> <= limit) {
                    var final_icon;
                    if(<%=data[m].alert%> == true){
                      if(<%=(data[m].level[0] <= data[m].low)%>){
                        final_icon = emptyIcon;
                      }
                      if(<%=((data[m].level[0] > data[m].low) && (data[m].level[0] < data[m].high))%>){
                        final_icon = mediumIcon;
                      }
                      if(<%=(data[m].level[0] >= data[m].high)%>){
                        final_icon = fullIcon;
                      }
                      
                    }
                    else{
                      final_icon = mediumIcon;
                    }

                    var marker = L.marker([<%=data[m].latitude%>, <%=data[m].longitude%>], {icon: final_icon}).addTo(mymap);
                    markers.push(marker);
                    marker.bindPopup(`
                      <div class="container">
                        <div class="row">
                          <ul>
                            <li><b>Latitude : </b><span id="lat`+ <%=data[m].latitude.toString()%>+<%=data[m].longitude.toString()%> +`"></span></li>
                            <li><b>Longitude : </b><span id="lng`+ <%=data[m].latitude.toString()%>+<%=data[m].longitude.toString()%> +`"></span></li>
                            <li><b>Level : </b><span id="level`+ <%=data[m].latitude.toString()%>+<%=data[m].longitude.toString()%> +`""></span></li>
                            <li><b>Temprature : </b><span id="temp`+ <%=data[m].latitude.toString()%>+<%=data[m].longitude.toString()%> +`""></span></li>
                          </ul>
                          <br>
                        </div>
                        <div class="row">
                          <div style="margin:auto;">
                            <select onchange="alter_graph()" id="select`+ <%=data[m].latitude.toString()%>+<%=data[m].longitude.toString()%> +`">
                              <option value="level" selected>Level</option>
                              <option value="temprature">Temprature</option>
                            </select>
                          </div>
                          <br>
                        </div>
                        <div class="row">
                          <canvas id="canvas`+ <%=data[m].latitude.toString()%>+<%=data[m].longitude.toString()%> +`"></canvas>
                        </div>
                      </div>
                    `);
                    marker.on('click', onMapClick);

                  }
                <%}%>
              }
          
              function onMapClick(e) {
                fill_lat_lng(e.latlng.lat, e.latlng.lng)
              }
                       
              function fill_lat_lng(lat, lng){
                <% 
                  var n;
                  for(n = 0; n<data.length; n++){%>
                    if((lat == <%=data[n].latitude%>) && (lng == <%=data[n].longitude%>)){
                      latitude = <%=data[n].latitude%>;
                      longitude = <%=data[n].longitude%>;
                      document.getElementById("lat"+ <%=data[n].latitude.toString()%>+<%=data[n].longitude.toString()%>).innerHTML = <%=data[n].latitude%>;
                      document.getElementById("lng"+ <%=data[n].latitude.toString()%>+<%=data[n].longitude.toString()%>).innerHTML = <%=data[n].longitude%>;
                      document.getElementById("level"+ <%=data[n].latitude.toString()%>+<%=data[n].longitude.toString()%>).innerHTML = <%=data[n].level[0]%>;
                      document.getElementById("temp"+ <%=data[n].latitude.toString()%>+<%=data[n].longitude.toString()%>).innerHTML = <%=data[n].temprature[0]%>;
                    
                      temprature = [];
                      level = [];
                      <%
                        var p;
                        for(p=0; p<data[n].level.length; p++){
                          %>
                            level.push(<%=data[n].level[p]%>);
                            temprature.push(<%=data[n].temprature[p]%>);
                          <%
                        }
                      %>
                      graph(level);
                    }  
                  <%}
                %>
              }
      
              function graph(points){
                if(window.myLine)
                  window.myLine.destroy();
                var y_label = [];
                var q;
                for(q=0;q<points.length;q++){
                  y_label.push((q*4).toString());
                }
                var config = {
                  type: 'line',
                  data: {
                    labels: y_label,
                    datasets: [{
                      label: 'Track : ',
                      backgroundColor: window.chartColors.red,
                      borderColor: window.chartColors.red,
                      data: points,
                      fill: false,
                    }]
                  },
                  options: {
                    responsive: true,
                    title: {
                      display: false,
                      text: 'Line Chart'
                    },
                    tooltips: {
                      mode: 'index',
                      intersect: false,
                    },
                    hover: {
                      mode: 'nearest',
                      intersect: true
                    },
                    scales: {
                      xAxes: [{
                        display: true,
                        scaleLabel: {
                          display: true,
                          labelString: 'Hours Ago'
                        }
                      }],
                      yAxes: [{
                        display: true,
                        scaleLabel: {
                          display: true,
                          labelString: 'Magnitude'
                        }
                      }]
                    }
                  }
                };
      
                var ctx = document.getElementById('canvas'+latitude.toString()+longitude.toString()).getContext('2d');
                window.myLine = new Chart(ctx, config);
              }

              function alter_graph(){
                var field = document.getElementById("select"+ latitude.toString()+longitude.toString()).value;
                if(field == 'level')
                  graph(level);
                else
                  graph(temprature);
              }
      
          </script>
      
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <%}
      else{%>
          <div class="container" id="blank_page">
            <h3><p class="text-center">You have no data to be displayed</p></h3>
            <p class="text-center"><a href="./dataForm"><button class="btn-primary" >Add Data</button></a></p>
          </div>

      <%}
    %>
  
  </body>
  
</html>